.frak-mockup {
	height: 36rem;
	width: 22.4rem;
	border-radius: 2rem;
	background: #001432;
	font-family: Inter, sans-serif;
	line-height: 1.5;
	color: white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.frak-mockup .frak-top-bar {
	padding: 1.6rem;
	background: #12244b;
	font-size: 1rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.frak-wallet {
	font-size: 1.2rem;
}

.frak-mockup .frak-content {
	margin-top: 1.6rem;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.frak-content .frak-balance {
	font-size: 2.4rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	gap: 0.4rem;
}

.frak-actions-container {
	display: flex;
	justify-content: center;
	gap: 1.6rem;
}

.frak-action {
	padding: 0.8rem;
	width: 9.6rem;
	background: #12244b;
	border-radius: 0.4rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.6rem;
}

.frak-action em {
	font-style: normal;
	color: #00baf1;
}

.frak-action .frak-button {
	padding: 0.8rem;
	min-width: 3rem;
	width: fit-content;
	background: #00baf1;
	border-radius: 0.4rem;
	color: white;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1;
}

.frak-currently-playing {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.frak-playing-card {
	padding: 0.8rem;
	border: solid #12244b 0.2rem;
	border-radius: 0.4rem;
}

.frak-playing-card .frak-content-details {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.frak-content-details .frak-content-titles {
	display: flex;
	flex-direction: column;
	font-size: 1.05rem;
	font-weight: 200;
}

.frak-playing-card .channel-name {
	color: #818c9c;
}

.frak-playing-card .earnings {
	font-size: 1.4rem;
	color: #818c9c;
}

.frak-bottom-bar {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 4.8rem;
	background: #12244b;
	display: flex;
	align-items: center;
}

.frak-bottom-bar .icon-line {
	height: 0.2rem;
	width: 2.4rem;
	background: #00baf1;
}

.frak-bottom-bar .icons {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.frak-bottom-bar .icon {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}

.frak-bottom-bar .icon-inactive .icon-line{
	background: #12244b;
}
