.player-animation {
	position: absolute;
	top: 30%;
	width: 26.6rem;
	padding: 0.8rem;
	font-family: 'Inter', 'sans-serif';
	border-radius: 1.6rem;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0.3rem 2.4rem 0 rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(0.25rem);
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.player-animation .content-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player-animation .content-details {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.player-animation .cover {
	background: #000000;
	border-radius: 0.6rem;
	width: 5rem;
	height: 5rem;
}

.player-animation .titles{
	width: 15.6rem;
	display: flex;
	flex-direction: column;
}

.player-animation .episode-title {
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.6;
	font-weight: 500;
}

.player-animation .content-title {
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.6;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 0.4);
}

.player-animation .progress-container {
	display: flex;
	align-items: baseline;
	gap: 0.4rem;
}

.player-animation .progress-bar {
	width: 21.8rem;
	height: 0.6rem;
	border-radius: 0.8rem;
	background: #000000;
	overflow: hidden;
	position: relative;
}

.player-animation .progress {
	background: #6F6F6F;
	height: 100%;
	width: 20%;
	top: 0;
	left: 0;
	position: absolute;
}

.player-animation .timers {
	display: flex;
	justify-content: space-between;
}

.player-animation .timer,
.player-animation .end-time {
	color: #ffffff;
	font-size: 1rem;
}

.player-animation .player-actions-container {
	display: flex;
	justify-content:center;
	gap: 2rem;
	
}

.player-actions-container .hidden{
	display:none;
}